$red-light: #ff4d4d;
$red: #ff0000;
$red-dark: #800000;

$blue-light: #8080ff;
$blue: #0000ff;
$blue-dark: #000080;

$green-light: #99e699;
$green: #33cc33;
$green-dark: #196619;

$yellow-light: #ffff80;
$yellow: #ffff00;
$yellow-dark: #808000;

$grey-light: #bfbfbf;
$grey: #808080;
$grey-dark: #404040;

$white: #fff;
$black: #000;
