.nav {

  @media screen and (min-width: $landscape-tablet) {
    padding-top: $bigSpacer;
    padding-left: $largeSpacer;
  }

  &:before {
    @media screen and (max-width: $landscape-tablet) {
      content: "";
      position: absolute;
      right: 20px;
      top: 20px;
      width: 30px;
      height: 5px;
      background: black;
      box-shadow:
        0 20px 0 0 black,
        0 10px 0 0 black;
    }
  }

  &-side {

    @media screen and (max-width: $landscape-tablet) {
      position: relative;
      top: 0;
      height: $navHeight;
      width: 100%;
    }

    @media screen and (min-width: $landscape-tablet) {
      position: relative;
      height: 100%;
      min-height: 100%;
      width: $navWidth;
      float: left;
      top: 0;
      left: 0;
      bottom: 0;
    }

  }

}

.nav ul {
  @media screen and (min-width: $landscape-tablet) {
    padding-left: $smallSpacer;
    background-color: $themePrimary;
  }
  @media screen and (max-width: $landscape-tablet) {
    background-color: $themePrimary;
  }
}


.nav ul {
  @media screen and (min-width: $landscape-tablet) {

  }
}

.nav ul li {
  @media screen and (max-width: $landscape-tablet) {
    width: 100%;
    text-align: center;
    padding-top: $tinySpacer;
    padding-bottom: $tinySpacer;
  }
}

.nav ul li:hover {
  @media screen and (max-width: $landscape-tablet) {
    background-color: $themeSecondary;
    font-weight: bold;
  }
}
