body {
  background-color: $blue-light;
}

.nav {
  background-color: $blue-dark;
  color: $white;

  a {
    color: $white;
  }

  a:hover {
    color: $blue-light;
  }

  a:visited {
    color: $white;
  }
}

.pageHeading {
  background-color: $blue-light;
}
