@import "../helpers/_color";

$themePrimary: $blue-light;
$themeSecondary: $blue;
$themeBase: $white;

body {
  background-color: $themeBase;
}

.nav {
  background-color: $themePrimary;
  color: $themeBase;

  a {
    color: $themeBase;
  }

  a:hover {
    color: $grey-light;
  }

  a:visited {
    color: $themeBase;
  }
}

.pageHeading {
  background-color: $themeBase;
}

.footer {
  background-color: $themePrimary;
  color: $themeBase;
}
